@media only screen and (min-width: 600px) {

    body, main, nav{
        max-width: 800px;
    }

    .hamburger{
        display: none;
    }

    nav li{
        width: 800px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: black;
    }

    nav li{
        height: 20px;
        width: 120px;
        text-align: center;
    }

    nav li a{
        text-decoration: none;
        color: white;
        height: 20px;
    }
}
