@media only screen and (min-width: 600px) {

    body, main, nav{
        max-width: 800px;
    }

    .hamburger{
        display: none;
    }

    #navigation{
        width: 800px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: black;
    }

    #navigation li{
        height: 20px;
        width: 120px;
        text-align: center;
    }

    #navigation li a{
        text-decoration: none;
        color: white;
        height: 20px;
    }
    .responsive {
        display: block;
    }

    /*style for events page*/
    section#info{
        width: 400px;
    }

    form{
        width: 400px;
    }

    section#form button{
        width: 400px;
        height: 40px;
    }
/*    for sales page*/
    section.description section ul, section.description section p{
        text-align: left;
    }

    section.description section{
        width: 400px;
    }
/*styles for services page*/

    table{
        max-width: 600px;
    }

    td.t2{
        width: 300px;
    }

    .adventures {
        display: inline;

    }
    .allAdventures {
        background: #c09f80;
        min-height: 100vh;
        overflow: hidden;
        display: block;
        position: relative;
        padding-bottom: 160px;
    }
    img {
        width: 600px;
        height: auto;
    }
    iframe {
        width: 600px;
        height: auto;
    }
}


