* {
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    background-color: black;
    color: white;
    margin: 0 auto;
}

#subheading{
    font-size: .75rem;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header h1, header #subheading{
    text-align: center;
    width: 100%;
}

nav li{
    list-style-type: none;
}

nav li:hover{
    background-color: dimgray;
}

.hamburger{
    display: flex;
    position: absolute;
    right: 0;
    color: rgb(100, 0, 0);
    background: none;
    margin: 10px 10px 0 10px;
    border: none;
    text-decoration: none;
    font-size: 1.5rem;
}

nav{
    padding : 20px;
    background-color: dimgray
}

nav li a{
    text-decoration: none;
    color: white;
    text-align: left;
}

.responsive{
    display: none;
}

.active{
    background-color: dimgray;
}

footer{
    margin: 0 auto;
    text-align: center;
}
