@media only screen and (min-width: 1024px) {
    .navigation {
        margin: 15px 275px 15px;
    }
    .piccontainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /*    grid-template-rows: ;*/
        grid-column-gap: 50px;

    }
    .town-article {
        margin: 0 400px 60px;
    }

    .peeked {
        max-width: 400px;
    }
    form fieldset {
        width: 500px;
        /*margin: auto;*/
    }


    .formcontainer {
        display: flex;
    }
    .formcontainer > fieldset {
        flex-wrap: wrap;
        margin: 30px;
    }

}
