@media only screen and (min-width: 600px) {

    .hamburger {
        display: none;
    }

    section.forecast {
        display: contents;
    }

    .navigation {
        margin: 15px 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .navigation > li {
        display: contents;
        text-align: center;
        flex-basis: 100%;
        flex: 1;
    }
    .links {}
    .piccontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /*    grid-template-rows: ;*/
        grid-column-gap: 50px;
    }
    .tenday {
        margin: 20px 0 10px;
    }
    table {
        border-style: solid;
        border-color: #f9cf00;
        border-radius: 10px;
        border-width: 5px;
        padding: 5px;
    }
    .town-article {
        margin: 0 115px 60px;
    }
    fieldset {
        width: 730px;
    }
}

