@media only screen and (min-width: 600px) {
    body {
        font-size: 1.3em;
    }
    .hamburger {
        display: none;
    }


    nav ul.hide{display: block;}
    nav ul li {
        display: inline;
        text-align: center;
    }
    .forecast {
        display: block;
        margin: 0;
        background-color:;
        text-align: center;
    }
    th {
        padding: .3em;
    }
    .articleimg {
        width: 20em;
    }
}
